* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.header {
    background-color: #1F2937;
    height: 72px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;

}

.header .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 16px;
}

.header ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    color: #F9FAF8;
}

.header ul li {
    padding: 16px;
}

.hero {
    background-color: #1F2937;
    height: 400px;
    box-sizing: border-box;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 200px;
    height: 320px;
    margin: 32px;
}

.hero .hero-left .main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero .hero-left .secondary-text {
    font-size: 18px;
    color: #efe7eb;
}

.hero .hero-right {
    flex: 1 1 200px;
    box-sizing: border-box;
    margin: 32px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    height: 320px;
}

.hero .hero-right img {
    flex: 1 0 auto;
    width: 240px;
    height: auto;
}

.info {
    flex: 1 0 10em;
}

.quote {
    background-color: #E5E7EB;
    flex: 1 0 10em;
}

.call-to-action {
    flex: 1 0 10em;
}

.call-to-action button {
    background-color: #3882F6;
    color: #FFFFFF;
}

.footer {
    background-color: #1F2937;
    height: 72px;
    flex: 0 0 auto;
}