.body {
    display: flex;
}

.header {
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
}

.quoute {
    background-color: #E5E7EB;
}

.call-to-action button {
    background-color: #3882F6;
    color: #FFFFFF;
}

.footer {
    background-color: #1F2937;
}